<html>
    <head>
        <title>Danh sách Users</title>
        <%- include layout/head%>
    </head>
    <body>
        <%- include layout/nav%>
        <!-- DataTales Example -->
        <div class="container">
        <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h1 class="m-0 font-weight-bold text-primary"><b>DANH SÁCH USERS</b></h1>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Email</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Create Time</th>
                          <th>Update Time</th>
                        </tr>
                    </thead>
                      <tbody>
                        <% if (data && data.users) {%>
                          <% for (var i=0; i< data.users.length; i++) {%>
                            <tr>
                              <td><%=data.users[i].id%></td>
                              <td><%=data.users[i].email%></td>
                              <td><%=data.users[i].first_name%></td>
                              <td><%=data.users[i].last_name%></td>
                              <td><%=data.users[i].created_at%></td>
                              <td><%=data.users[i].updated_at%></td>
                            </tr>
                          <%}%>
                          <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <script src="/static/js/post.js"></script> 
    </body>
</html>